@CHARSET "UTF-8";
body{
	background: #ebebeb;
	font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
	color: #222;
	font-size: 12px;
}
/*设置主页蓝色部分*/
.top_div{
	background: #008ead;
	width: 100%;
	height: 300px;
}
/*插入图片（密码和账号）*/
.u_logo{
	background: url("./image/username.png") no-repeat;
	padding: 10px 10px;
	position: absolute;
	top: 43px;
	left: 70px;

}
.p_logo{
	background: url("./image/password.png") no-repeat;
	padding: 10px 10px;
	position: absolute;
	top: 12px;
	left: 70px;
}
/*把图片和文字放在一个框内,并且设置框的大小和样式*/
.ipt{
	border: 1px solid #d3d3d3;
	padding: 10px 10px;
	width: 290px;
	border-radius: 4px;
	padding-left: 35px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

#log{
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: #004C9B;
}
/*将框放在中间*/
.log-infor{
	width: 200px;
	position: absolute;
	top: 25%;
	left: 33%;
}
/*设置身份这一行的字体*/
.log-infor li{
	font-family: "微软雅黑";
	font-size: 16px;
	list-style: none;
	color: #666;
	line-height: 40px;
}
/*设置登录注册框的样式*/
.btn{
	width: 40px;
	height: 25px;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: rgb(0, 142, 173);
	font-weight: bold;
	margin-left:15px ;
	color:rgb(255, 255, 255);
}